body {
    background-color: beige;
    margin: 30px;
    padding: 60px;
}

header {
    background-image: "bckgp.jpg" ;
    padding: 60px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    text-align: center;
    padding: 10px;
}

nav a {
    color: rosybrown;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    color: burlywood;
    text-decoration: underline;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: rosybrown;
    border-radius: 5px;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
}