body {
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    color: #333;
}

header {
    background-image: url('bckgp.jpg');
    background-size: cover;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 1.4rem;
    padding: 30px;
}

nav {
    background-color: #f0ede4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #333;
    /* padding: 10px 20px;
    margin: 0 10px; */
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #957f63;
}

section {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section#about,
section#location,
section#contact {
    background-color: white; 
}

section#about {
    display: flex;
    align-items: center;
}

section#about p {
    flex: 1;
    margin-right: 50px;
}

section#about img {
    width: 300px;
    border-radius: 60px;
}

section#contact {
    height: 350px; 
}

.phone-number {
    font-size: 2rem; 
    font-weight: bold;
}

#email {
    font-size: 1.4rem;
    font-weight: bold;
}

#map {
    height: 400px; 
}

gmp-map {
    height: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(#97A974, #97A974);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
}

@media only screen and (max-width: 629px) {
    img {
        display: none;
    }

    section#about img {
        font-size: 1rem;
    }
    
    .phone-number {
        font-size: 1rem; 
        font-weight: bold;
        color: rgba(0.1);
    }
    
    #email {
        font-size: 1rem;
        font-weight: bold;
    }

    section#contact {
        font-size: 1rem;
    }
    
    header {
        height: 200px;
        display: flex;
        font-size: 0.2rem;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }
}
